In [89]:
import pandas as pd
from sklearn import linear_model
from sklearn import neighbors
from sklearn import datasets
from sklearn.utils import resample
from sklearn import metrics

In [47]:
boston = datasets.load_boston()

In [50]:
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR'])

In [75]:
data = boston['data']
columns = boston['feature_names']
target = boston["target"]
df = pd.DataFrame(data, columns=columns)
target = pd.DataFrame(target, columns=["target"])

In [63]:
#df = pd.concat([df, tmp], axis=1)

In [24]:
df.head(n=10)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
5,0.02985,0.0,2.18,0.0,0.458,6.430,58.7,6.0622,3.0,222.0,18.7,394.12,5.21
6,0.08829,12.5,7.87,0.0,0.524,6.012,66.6,5.5605,5.0,311.0,15.2,395.60,12.43
7,0.14455,12.5,7.87,0.0,0.524,6.172,96.1,5.9505,5.0,311.0,15.2,396.90,19.15
8,0.21124,12.5,7.87,0.0,0.524,5.631,100.0,6.0821,5.0,311.0,15.2,386.63,29.93
9,0.17004,12.5,7.87,0.0,0.524,6.004,85.9,6.5921,5.0,311.0,15.2,386.71,17.10

In [22]:
df.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT'],
      dtype='object')

In [77]:
df.index = list(range(len(df)))
target.index = list(range(len(target)))

In [41]:
import time
start = time.time()
younger_than_30 = []
for index in df.index:
    if df.ix[index]["AGE"] < 30:
        younger_than_30.append(df.ix[index])
len(younger_than_30)
print(time.time() - start)

1.1902062892913818

In [66]:
start = time.time()
result = df[df["AGE"] < 30]
print(time.time() - start)

0.0010912418365478516

In [31]:
len(df)

506

In [76]:
def resampler(df, num_resamples=100):
    """
    This will resample the dataframe according to a bootstrap
    routinue.
    
    Parameters:
    @df - a pandas dataframe 
    @num_resamples - how many samples to produce and append to
    the dataframe
    """
    resampled = resample(df, n_samples=num_resamples, random_state=0)
    return pd.concat([df,resampled])

df = resampler(df, num_resamples=10000)
target = resampler(target, num_resamples=10000)

In [96]:
lin_reg = linear_model.LinearRegression()
lin_model = lin_reg.fit(df, target)
final_element = df.ix[len(df) - 1]
print(lin_model.predict([final_element]))
target.ix[len(df) - 1]

[[ 8.54134506]]

target    8.7
Name: 10505, dtype: float64

In [70]:
df.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT'],
      dtype='object')

In [99]:
results = lin_model.predict(df)
print(metrics.mean_squared_error(target, results))

22.4640693631

In [97]:
knn = neighbors.KNeighborsRegressor()
knn_model = knn.fit(df, target)
final_element = df.ix[len(df) - 1]
print(knn_model.predict([final_element]))
target.ix[len(df) - 1]

[[ 8.7]]

target    8.7
Name: 10505, dtype: float64

In [100]:
results = model.predict(df)
print(metrics.mean_squared_error(target, results))

0.0